# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
/coverage
/test-results/
playwright-report/
/playwright/.cache/
/screenshots/*
!/screenshots/baseline
/public/
/screenshots/

# Production
/build
/dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
*.log
.cache/
.history/
*.pid
*.seed
*.pid.lock

# Keep baseline screenshots but ignore others
!/screenshots/baseline/.gitkeep